@import "variables";
@import "nav";

body{

	background: #621919;

	header{
		background: #621919;
		position: relative;

		.container{
			.welcome{
				position: absolute;
			    background-color: rgba(216, 152, 10, 0.4);
			    top: 58%;
			    left: 60%;
			    max-width: 36%;
			    max-height: 40%;
			    border-radius: 5px;
			    padding: 0 10px;
			    box-sizing: border-box;
			    color: white;

			    .carousel{
			max-height: 400px;
			overflow: hidden;

			.carousel-inner{
				.item{
					img{
						overflow: hidden;
					}
				}
			}
		}
	}
}
}
}

.titulo-bajada{
	background: #621919;
	position:relative;
	margin-top: 250px;
 
		h3{
		color: white;
		font-size: 36px;
		}

		p{
		color: white;
		margin: auto;
		}
}

.recoms{ s
    display: flex;
    align-items: stretch;
}
