@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "nav";
@import "variables";

body{

	header{
		background: $color-fondo;
		position: relative;

		.container{
			.welcome{
				position: absolute;
			    background-color: rgba(216, 152, 10, 0.4);
			    top: 58%;
			    left: 60%;
			    max-width: 36%;
			    max-height: 40%;
			    border-radius: 5px;
			    padding: 0 10px;
			    box-sizing: border-box;
			    color: white;


				h1{
					display: none;
				}
			}
		}

		.carousel{
			max-height: 400px;

			.carousel-inner{
				.item{
					img{
						overflow: hidden;
					}
				}
			}
		}
	}
}
	


